<h2>Países</h2>
<hr>
<ul class="list-group">
  <!-- routerLink brinda funcionalidad de link segun la definicion de routes -->
  <!-- se debe importar routerModule para que funcione dentro del modulo shared -->
  <!-- routerLinkActive le da una clase cuando se este en esa ruta -->
  <!-- routerLinkActiveOptions indica que el path debe ser exactamente igual -->

  
  <!-- <li routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item">
    Home Page
  </li>
  <li routerLink="about"
    routerLinkActive="active"
    class="list-group-item">
    About Page
  </li>
  <li routerLink="contact"
    routerLinkActive="active"
    class="list-group-item">
    Contact Page
  </li> -->
  <li routerLink="countries/by-capital"
    routerLinkActive="active"
    class="list-group-item">
    Por capital
  </li>
  <li routerLink="countries/by-country"
    routerLinkActive="active"
    class="list-group-item">
    Por país
  </li>
  <li routerLink="countries/by-region"
    routerLinkActive="active"
    class="list-group-item">
    Por región
  </li>
</ul>
